<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 
        * @Package:  Multipurpose Dashboard
        * @Version: 1.0.0
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Multipurpose Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-57-precomposed.png">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/images/apple-touch-icon-114-precomposed.png">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/images/apple-touch-icon-72-precomposed.png">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/images/apple-touch-icon-144-precomposed.png">

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="../assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/webfont/cryptocoins.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE CSS TEMPLATE - START -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

    <% include ../navbar %>
        <!--  SIDEBAR - END -->

        <!-- START CONTENT -->
        <section id="main-content" class=" ">
            <div class="wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">Doctor Profile</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-lg-4">
                    <section class="box ">
                        <div class="content-body p">
                            <div class="row">
                                <div class="doctors-list v2  relative">
                                    <div class="doctors-head relative text-left mb-0">
                                        <div class="doc-img img-circle">
                                            <img src="../data/hos-dash/doc1.jpg" class="img-thumbnail center-block" alt="">
                                            <div class="stutas"></div>
                                        </div>
                                        <h3 class="header relative bold">Dr : Smith Wright</h3>
                                        <h5 class="boldy">Hair Repair and Loss Expert</h5>
                                        <p class="desc relative mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti eveniet sit digni ssimos dolores reiciendis voluptate at quae deleniti voluptatibus molestias.</p>
                                        <div class="doc-rating mb-30">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <span>4.8</span>
                                        </div>

                                        <div class="email-div">
                                            <i class="fa fa-envelope f-s-14 mr-10"></i><span>Email</span>
                                            <a href="" class="blue-text">
                                                <h5 class="text-info">smith-wright@example.com</h5>
                                            </a>
                                            <button type="button" class="btn btn-success btn-icon btn-lg mt-10 right15">
                                                <i class="fa fa-send f-s-14"></i> &nbsp; <span>Send Message</span>
                                            </button>
                                        </div>  
                                    </div>
                                    
                                </div>
                               
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Messages</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-doctor-profile.html#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">    
                                    <div class="row align-items-center flex">
                                        <div class="col-xs-12">
                                            <div class="pat-info-wrapper align-center">
                                                <div class="pat-info text-right mr-10">
                                                    <h2 class="bold m-count">25</h2>
                                                </div>
                                                <div class="pat-val relative">
                                                    <h4 class="value p-text mb-0"><i class="fa fa-envelope message green-text has-shadow f-s-20 mr-10"></i><span>New</span></h4>
                                                </div>
                                            </div>
                                            <div class="relative mb-15">
                                                <div class="round">S</div>
                                                <div class="designer-info">
                                                    <h6 class="msg-sender">Sunil Joshi</h6>
                                                    <small class="text-muted">Lorem ipsum dolor sit amet...</small>
                                                    <h6 class="text-muted mt-0 mb-0">18/09/2018  20:23 AM</h6>
                                                </div>
                                            </div>
                                            <div class="relative">
                                                <div class="round">F</div>
                                                <div class="designer-info">
                                                    <h6 class="msg-sender">Fardnio Nany</h6>
                                                    <small class="text-muted">Lorem ipsum dolor sit amet...</small>
                                                    <h6 class="text-muted mt-0 mb-0">18/09/2018  20:23 AM</h6>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            
                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Notifications</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-doctor-profile.html#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">    
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="project-activity list-unstyled mb-0">
                                                <li class="activity-list ">
                                                    <div class="detail-info v2">
                                                        <div class="doc-img-con pull-left mr-10">
                                                            <img src="../data/hos-dash/doc3.jpg" width="80" alt="">
                                                        </div>
                                                        <div class="visit-doc">
                                                            <p class="text-muted mb-0 boldy">
                                                                Dr sultads Send you Photo 
                                                            </p>
                                                            <small class="message">
                                                                Just Now
                                                            </small>
                                                            
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="clearfix"></li>
                                                <li class="activity-list ">
                                                    <div class="detail-info v2">
                                                        <div class="doc-img-con pull-left mr-10">
                                                            <i class="fa fa-rocket icon-rounded icon-primary animated fadeIn" style="padding:11px"></i>
                                                        </div>
                                                        <div class="visit-doc">
                                                            <p class="text-muted mb-0 boldy">
                                                                Reminder : Treatment Time!
                                                            </p>
                                                            <small class="message">
                                                                25 july - 20:00
                                                            </small>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="activity-list ">
                                                    <div class="detail-info v2">
                                                        <div class="doc-img-con pull-left mr-10">
                                                            <i class="fa fa-bar-chart round-success rd-50 w-text animated fadeIn" style="padding:11px"></i>
                                                        </div>
                                                        <div class="visit-doc">
                                                            <p class="text-muted mb-0 boldy">
                                                                 Resport created successfully 
                                                            </p>
                                                            <small class="message">
                                                                26 Feb - 23:47
                                                            </small>
                                                        </div>
                                                    </div>
                                                </li>
                                               
                                            </ul>
                                        </div>      
                                    </div> <!-- End .row -->
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Badges</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-doctor-profile.html#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">    
                                    <div class="row align-items-center flex">
                                        <div class="col-xs-12 text-center">
                                            
                                            <img src="../data/hos-dash/badge.png" style="max-width:85px" alt="">
                                            <h4 class="boldy">You don’t have badges yet</h4>
                                            <div class="mt-10 text-center">
                                                <button type="button" class="btn btn-success gradient-blue btn-lg mt-10 right15">
                                                    <span>earn budges</span>
                                                </button>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Speciality</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-doctor-profile.html#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">    
                                    <div class="row align-items-center flex">
                                        <div class="col-xs-12">
                                            
                                            <div class="speciality-item relative">
                                                <div class="doc-img-con speciality pull-left">
                                                    <img src="../data/hos-dash/speciality1.png" width="80" alt="">
                                                </div>
                                                <div class="designer-info">
                                                    <h6 class="msg-sender">Certified</h6>
                                                    <small class="text-muted f-s-14">Cold Laser Therapy</small>
                                                </div>
                                            </div>
                                            <div class="speciality-item relative ">
                                                <div class="doc-img-con speciality pull-left">
                                                    <img src="../data/hos-dash/speciality2.png" width="80" alt="">
                                                </div>
                                                <div class="designer-info">
                                                    <h6 class="msg-sender">Medication Laser</h6>
                                                    <small class="text-muted f-s-14">Hair Lose Product</small>
                                                </div>
                                            </div>
                                            <div class="speciality-item relative mb-0">
                                                <div class="doc-img-con speciality pull-left">
                                                    <img src="../data/hos-dash/speciality2.png" width="80" alt="">
                                                </div>
                                                <div class="designer-info">
                                                    <h6 class="msg-sender">professional</h6>
                                                    <small class="text-muted f-s-14">Certified Hair Lose Surgery</small>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                

                <div class="clearfix"></div>

                <div class="col-xs-12 col-md-6">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Recent Visits</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-doctor-profile.html#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">    
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="project-activity list-unstyled mb-0">
                                        <li class="activity-list warning">
                                            <div class="detail-info v2">
                                                <div class="doc-img-con pull-left mr-10">
                                                    <img src="../data/profile/avatar-2.png" width="80" alt="">
                                                </div>
                                                <div class="visit-doc">
                                                    <p class="message">
                                                         Mutten Sultan <span class="text-info bold">( Blood Check )</span>
                                                    </p>
                                                    <small class="text-muted">
                                                        Blood Check
                                                    </small>
                                                </div>
                                                <div class="visit-date pull-right">
                                                    <p class="mb-0">25 Nov</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="clearfix"></li>
                                        <li class="activity-list info">
                                            <div class="detail-info v2">
                                                <div class="doc-img-con pull-left mr-10">
                                                    <img src="../data/profile/avatar-3.png" width="80" alt="">
                                                </div>
                                                <div class="visit-doc">
                                                    <p class="message ">
                                                         Smith Watson <span class="text-info bold">( Medicine )</span>
                                                    </p>
                                                    <small class="text-muted">
                                                        Thryoid Test
                                                    </small>
                                                </div>
                                                <div class="visit-date pull-right">
                                                    <p class="mb-0">25 Nov</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="activity-list success">
                                            <div class="detail-info v2">
                                                <div class="doc-img-con pull-left mr-10">
                                                    <img src="../data/profile/avatar-4.png" width="80" alt="">
                                                </div>
                                                <div class="visit-doc">
                                                    <p class="message ">
                                                        Sarah Mutten <span class="text-info bold">( Pathology )</span>
                                                    </p>
                                                    <small class="text-muted">
                                                        Full Blood image
                                                    </small>
                                                </div>
                                                <div class="visit-date pull-right">
                                                    <p class="mb-0">25 Nov</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="activity-list success">
                                            <div class="detail-info v2">
                                                <div class="doc-img-con pull-left mr-10">
                                                    <img src="../data/profile/avatar-1.png" width="80" alt="">
                                                </div>
                                                <div class="visit-doc">
                                                    <p class="message ">
                                                        Shadow laoono <span class="text-info bold">( Medicine )</span>
                                                    </p>
                                                    <small class="text-muted">
                                                        Full Blood image
                                                    </small>
                                                </div>
                                                <div class="visit-date pull-right">
                                                    <p class="mb-0">25 Nov</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="activity-list danger">
                                            <div class="detail-info v2 pb0">
                                                <div class="doc-img-con pull-left mr-10">
                                                    <img src="../data/profile/avatar-5.png" width="80" alt="">
                                                </div>
                                                <div class="visit-doc">
                                                    <p class="message ">
                                                         Morese Sharpe <span class="text-info bold">( Routine Visit )</span>
                                                    </p>
                                                    <small class="text-muted">
                                                        Full Body Test
                                                    </small>
                                                </div>
                                                <div class="visit-date pull-right">
                                                    <p class="mb-0">25 Nov</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>      
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>

                <div class="col-xs-12 col-md-6">
                    
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Patients Notes</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-doctor-profile.html#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">    
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="project-activity list-unstyled mb-0">
                                        <li class="activity-list warning">
                                            <div class="detail-info">
                                                <div class="visit-doc">
                                                    <small class="text-muted f-s-14 mb-7">
                                                        I feel better NowMutten Sultan
                                                    </small>
                                                    <p class="message">
                                                        Meditation
                                                    </p>
                                                    
                                                </div>
                                                <div class="visit-date visit-stat pull-right">
                                                    <p class="mb-0">OPEN</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="clearfix"></li>
                                        <li class="activity-list info">
                                            <div class="detail-info">
                                                <div class="visit-doc">
                                                    <small class="text-muted f-s-14 mb-7">
                                                        Treatment was good!
                                                    </small>
                                                    <p class="message">
                                                        Thyroid Test
                                                    </p>
                                                </div>
                                                <div class="visit-date visit-stat pull-right">
                                                    <p class="mb-0 uppercase">closed</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="activity-list success">
                                            <div class="detail-info">
                                                <div class="visit-doc">
                                                    <small class="text-muted f-s-14 mb-7">
                                                        My hair is gone!
                                                    </small>
                                                    <p class="message">
                                                        Unhappy
                                                    </p>
                                                </div>
                                                <div class="visit-date visit-stat pull-right">
                                                    <p class="mb-0 uppercase">open</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="activity-list warning">
                                            <div class="detail-info">
                                                <div class="visit-doc">
                                                    <small class="text-muted f-s-14 mb-7">
                                                        My hair is gone!
                                                    </small>
                                                    <p class="message">
                                                        Unhappy
                                                    </p>
                                                </div>
                                                <div class="visit-date visit-stat pull-right">
                                                    <p class="mb-0 uppercase">closed</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="activity-list danger">
                                            <div class="detail-info pb0">
                                                <div class="visit-doc">
                                                    <small class="text-muted f-s-14 mb-7">
                                                        Mediacal Care is just a click away
                                                    </small>
                                                    <p class="message">
                                                        Join Pain
                                                    </p>
                                                </div>
                                                <div class="visit-date visit-stat pull-right">
                                                    <p class="mb-0 uppercase">open</p>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>      
                            </div> <!-- End .row -->
                        </div>
                    </section>

                </div>

                <div class="clearfix"></div>


                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->
        <div class="page-chatapi hideit">

            <div class="search-bar">
                <input type="text" placeholder="Search" class="form-control">
            </div>

            <div class="chat-wrapper">

                <h4 class="group-head">Favourites</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_1' data-user-id='1'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Joge Lucky</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_2' data-user-id='2'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Folisise Chosiel</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_3' data-user-id='3'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Aron Gonzalez</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>

                <h4 class="group-head">More Contacts</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_4' data-user-id='4'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Chris Fox</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_5' data-user-id='5'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Mogen Polish</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_6' data-user-id='6'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Smith Carter</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_7' data-user-id='7'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Amilia Gozenal</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_8' data-user-id='8'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Tahir Jemyship</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_9' data-user-id='9'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Johanson Wright</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_10' data-user-id='10'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Loni Tindall</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_11' data-user-id='11'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Natcho Herlaey</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_12' data-user-id='12'>
                        <div class="user-img">
                            <a href="hos-doctor-profile.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-doctor-profile.html#">Shakira Swedan</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="chatapi-windows ">

        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.easing.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/pace/pace.min.js"></script>
    <script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets/plugins/viewport/viewportchecker.js"></script>
    <script>
        window.jQuery || document.write('<script src="../assets/js/jquery.min.js"><\/script>');
    </script>
    <!-- CORE JS FRAMEWORK - END -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <script src="../assets/plugins/sparkline-chart/jquery.sparkline.min.js"></script>
    <script src="../assets/plugins/chartjs-chart/Chart.min.js"></script>
    <script src="../assets/js/chart-chartjs.js"></script>
    
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE TEMPLATE JS - START -->
    <script src="../assets/js/scripts.js"></script>
    <!-- END CORE TEMPLATE JS - END -->

</body>

</html>