doc4<!DOCTYPE html>
<html lang="en">

<head>
    <!--
        * @Package:  Multipurpose Dashboard
        * @Version: 1.0.0
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Multipurpose Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-57-precomposed.png">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/images/apple-touch-icon-114-precomposed.png">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/images/apple-touch-icon-72-precomposed.png">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/images/apple-touch-icon-144-precomposed.png">

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="../assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/webfont/cryptocoins.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE CSS TEMPLATE - START -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

    <% include ../navbar %>
        <!--  SIDEBAR - END -->

        <!-- START CONTENT -->
        <section id="main-content" class=" ">
            <div class="wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">All Doctors</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-lg-4 col-md-6">
                    <section class="box ">
                        <div class="content-body p">
                            <div class="row">
                                <div class="doctors-list patient relative">
                                    <div class="doctors-head relative text-center">
                                        <div class="doctor-card has-shadow">
                                            <div class="doc-info-wrap text-left">
                                                <div class="doctor-img">
                                                    <img src="../data/hos-dash/doc4.jpg" alt="">
                                                </div>
                                                <div class="doc-info">
                                                    <h4 class="bold">Dr. Ajay Verma</h4>
                                                    <h5>Clinical Doctor</h5>
                                                    <div class="doc-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <span>4.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="patients-info relative" >
                                            <div class="col-sm-4 col-xs-12 no-padding-right">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">1202</h5>
                                                            <h6>Patient</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 pl-7 pr-7">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">29 yrs</h5>
                                                            <h6>Doc age</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 no-padding-left">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">2259</h5>
                                                            <h6>Points</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- end row -->

                                    <div class="col-xs-12 mb-30">
                                        <div class="form-group no-mb">
                                            <a href="https://medical-dash.netlify.app/html/hos-staff-profile.html" class="btn btn-primary btn-lg gradient-blue" style="width:100%"> View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-4 col-md-6">
                    <section class="box ">
                        <div class="content-body p">
                            <div class="row">
                                <div class="doctors-list patient relative">
                                    <div class="doctors-head relative text-center">
                                        <div class="doctor-card has-shadow">
                                            <div class="doc-info-wrap text-left">
                                                <div class="doctor-img">
                                                    <img src="../data/hos-dash/doc2.jpg" alt="">
                                                </div>
                                                <div class="doc-info">
                                                    <h4 class="bold">Dr. Sandip Duarah</h4>
                                                    <h5>Surgeon</h5>
                                                    <div class="doc-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <span>4.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="patients-info relative" >
                                            <div class="col-sm-4 col-xs-12 no-padding-right">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">3542</h5>
                                                            <h6>Patient</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 pl-7 pr-7">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">45 yrs</h5>
                                                            <h6>Doc age</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 no-padding-left">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">4563</h5>
                                                            <h6>Points</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- end row -->

                                    <div class="col-xs-12 mb-30">
                                        <div class="form-group no-mb">
                                            <a href="https://medical-dash.netlify.app/html/hos-staff-profile.html" class="btn btn-primary btn-lg gradient-blue" style="width:100%"> View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-4 col-md-6">
                    <section class="box ">
                        <div class="content-body p">
                            <div class="row">
                                <div class="doctors-list patient relative">
                                    <div class="doctors-head relative text-center">
                                        <div class="doctor-card has-shadow">
                                            <div class="doc-info-wrap text-left">
                                                <div class="doctor-img">
                                                    <img src="../data/hos-dash/doc6.jpg" alt="">
                                                </div>
                                                <div class="doc-info">
                                                    <h4 class="bold">Dr. N. Narayanan</h4>
                                                    <h5>Cardiologist</h5>
                                                    <div class="doc-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                        <span>4.1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="patients-info relative" >
                                            <div class="col-sm-4 col-xs-12 no-padding-right">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">2202</h5>
                                                            <h6>Patient</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 pl-7 pr-7">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">34 yrs</h5>
                                                            <h6>Doc age</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 no-padding-left">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">4539</h5>
                                                            <h6>Points</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- end row -->

                                    <div class="col-xs-12 mb-30">
                                        <div class="form-group no-mb">
                                            <a href="https://medical-dash.netlify.app/html/hos-staff-profile.html" class="btn btn-primary btn-lg gradient-blue" style="width:100%"> View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-4 col-md-6">
                    <section class="box ">
                        <div class="content-body p">
                            <div class="row">
                                <div class="doctors-list patient relative">
                                    <div class="doctors-head relative text-center">
                                        <div class="doctor-card has-shadow">
                                            <div class="doc-info-wrap text-left">
                                                <div class="doctor-img">
                                                    <img src="../data/hos-dash/doc1.jpg" alt="">
                                                </div>
                                                <div class="doc-info">
                                                    <h4 class="bold">Dr. Sanjeev Mohanty</h4>
                                                    <h5>Clinical Doctor</h5>
                                                    <div class="doc-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <span>4.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="patients-info relative" >
                                            <div class="col-sm-4 col-xs-12 no-padding-right">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">1202</h5>
                                                            <h6>Patient</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 pl-7 pr-7">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">29 yrs</h5>
                                                            <h6>Doc age</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 no-padding-left">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">2259</h5>
                                                            <h6>Points</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- end row -->

                                    <div class="col-xs-12 mb-30">
                                        <div class="form-group no-mb">
                                            <a href="https://medical-dash.netlify.app/html/hos-staff-profile.html" class="btn btn-primary btn-lg gradient-blue" style="width:100%"> View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-4 col-md-6">
                    <section class="box ">
                        <div class="content-body p">
                            <div class="row">
                                <div class="doctors-list patient relative">
                                    <div class="doctors-head relative text-center">
                                        <div class="doctor-card has-shadow">
                                            <div class="doc-info-wrap text-left">
                                                <div class="doctor-img">
                                                    <img src="../data/hos-dash/doc5.jpg" alt="">
                                                </div>
                                                <div class="doc-info">
                                                    <h4 class="bold">Dr. B. Sultads</h4>
                                                    <h5>Surgeon</h5>
                                                    <div class="doc-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <span>4.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="patients-info relative" >
                                            <div class="col-sm-4 col-xs-12 no-padding-right">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">3542</h5>
                                                            <h6>Patient</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 pl-7 pr-7">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">45 yrs</h5>
                                                            <h6>Doc age</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 no-padding-left">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">4563</h5>
                                                            <h6>Points</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- end row -->

                                    <div class="col-xs-12 mb-30">
                                        <div class="form-group no-mb">
                                            <a href="https://medical-dash.netlify.app/html/hos-staff-profile.html" class="btn btn-primary btn-lg gradient-blue" style="width:100%"> View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-4 col-md-6">
                    <section class="box ">
                        <div class="content-body p">
                            <div class="row">
                                <div class="doctors-list patient relative">
                                    <div class="doctors-head relative text-center">
                                        <div class="doctor-card has-shadow">
                                            <div class="doc-info-wrap text-left">
                                                <div class="doctor-img">
                                                    <img src="../data/hos-dash/doc3.jpg" alt="">
                                                </div>
                                                <div class="doc-info">
                                                    <h4 class="bold">Dr. A Sudha</h4>
                                                    <h5>Cardiologist</h5>
                                                    <div class="doc-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half"></i>
                                                        <span>4.1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="patients-info relative" >
                                            <div class="col-sm-4 col-xs-12 no-padding-right">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">2202</h5>
                                                            <h6>Patient</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 pl-7 pr-7">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">34 yrs</h5>
                                                            <h6>Doc age</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-xs-12 no-padding-left">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">4539</h5>
                                                            <h6>Points</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- end row -->

                                    <div class="col-xs-12 mb-30">
                                        <div class="form-group no-mb">
                                            <a href="https://medical-dash.netlify.app/html/hos-staff-profile.html" class="btn btn-primary btn-lg gradient-blue" style="width:100%"> View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="clearfix"></div>

                <div class="col-xs-12 mb-30 mt-15">
                    <div class="form-group no-mb text-center">
                        <button type="button" class="btn btn-primary btn-lg gradient-blue" style="width:100%;max-width:300px"> Load more</button>
                    </div>
                </div>




                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->
        <div class="page-chatapi hideit">

            <div class="search-bar">
                <input type="text" placeholder="Search" class="form-control">
            </div>

            <div class="chat-wrapper">

                <h4 class="group-head">Favourites</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_1' data-user-id='1'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Joge Lucky</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_2' data-user-id='2'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Folisise Chosiel</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_3' data-user-id='3'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Aron Gonzalez</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>

                <h4 class="group-head">More Contacts</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_4' data-user-id='4'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Chris Fox</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_5' data-user-id='5'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Mogen Polish</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_6' data-user-id='6'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Smith Carter</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_7' data-user-id='7'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Amilia Gozenal</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_8' data-user-id='8'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Tahir Jemyship</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_9' data-user-id='9'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Johanson Wright</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_10' data-user-id='10'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Loni Tindall</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_11' data-user-id='11'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Natcho Herlaey</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_12' data-user-id='12'>
                        <div class="user-img">
                            <a href="hos-all-doctors.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-all-doctors.html#">Shakira Swedan</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="chatapi-windows ">

        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.easing.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/pace/pace.min.js"></script>
    <script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets/plugins/viewport/viewportchecker.js"></script>
    <script>
        window.jQuery || document.write('<script src="../assets/js/jquery.min.js"><\/script>');
    </script>
    <!-- CORE JS FRAMEWORK - END -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE TEMPLATE JS - START -->
    <script src="../assets/js/scripts.js"></script>
    <!-- END CORE TEMPLATE JS - END -->

</body>

</html>
