<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 
        * @Package: Multipurpose Dashboard
        * @Version: 1.0.0
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-57-precomposed.png">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/images/apple-touch-icon-114-precomposed.png">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/images/apple-touch-icon-72-precomposed.png">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/images/apple-touch-icon-144-precomposed.png">

    <!-- CORE CSS FRAMEWORK - START -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css"> 

    <link href="../assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/webfont/cryptocoins.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <link href="../assets/plugins/jvectormap/jquery-jvectormap-2.0.1.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/morris-chart/css/morris.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/calendar/fullcalendar.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="../assets/plugins/icheck/skins/minimal/minimal.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE CSS TEMPLATE - START -->
    <link href="../assets/css/recstyle.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->

</head>

<% include ../navbar %>



        <!--  SIDEBAR - END -->

        

        <!-- START CONTENT -->
        <section id="main-content" class=" ">
            <div class="wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">Dashboard</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>
                <div class="col-lg-12">
                    <section class="box nobox marginBottom0">
                        <div class="content-body">
                            <div class="row">

                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="r4_counter db_box">
                                        <i class="pull-left ico-icon icon-md icon-primary mt-10">
                                            <img src="../data/icons/hos-icon-so1.png" class="ico-icon-o" alt="">
                                        </i>
                                        <div class="stats">
                                            <h3 class="mb-5">200 Bed</h3>
                                            <span>Total Hospital Beds </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="r4_counter db_box">
                                        <i class="pull-left ico-icon icon-md icon-primary mt-10">
                                            <img src="../data/icons/hos-icon-so2.png" class="ico-icon-o" alt="">
                                        </i>
                                        <div class="stats">
                                            <h3 class="mb-5">126 Doctor</h3>
                                            <span>Available Doctors</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="r4_counter db_box">
                                        <i class="pull-left ico-icon icon-md icon-primary mt-10">
                                            <img src="../data/icons/hos-icon-so3.png" class="ico-icon-o" alt="">
                                        </i>
                                        <div class="stats">
                                            <h3 class="mb-5">3,743 Bills</h3>
                                            <span>Pharmacy Medics</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="r4_counter db_box">
                                        <i class="pull-left ico-icon icon-md icon-primary mt-10">
                                            <img src="../data/icons/hos-icon-so4.png" class="ico-icon-o" alt="">
                                        </i>
                                        <div class="stats">
                                            <h3 class="mb-5">36 Ambula</h3>
                                            <span>All Ambulance Cars</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- End .row -->
                        </div>
                    </section>
                </div>

                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-lg-8">
                    <section class="box" style="overflow:hidden">
                        <header class="panel_header">
                            <h2 class="title pull-left">Hospital Visits Statistics</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="index-hos-dashboard.html#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="demoarea-chart">
                                        <div id="demoarea-container" style="width: 100%;height:330px; text-align: center; margin:0 auto;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-4">
                    <section class="box ">
                        <div class="content-body p">
                            <div class="row">
                                <div class="doctors-list relative">
                                    <div class="doctors-head text-center">
                                        <h3 class="header w-text relative bold">Doctors List</h3>
                                        <p class="desc g-text relative">Lorem ipsum dolor sit amet, Earum nes ciunt fugiat enim. Sequi quos labore.</p>
                                    </div>
                                    
                                    <div class="doctor-card has-shadow">
                                        <div class="doc-info-wrap">
                                            <div class="doctor-img">
                                                <img src="../data/hos-dash/doc4.jpg" alt="">
                                            </div>
                                            <div class="doc-info">
                                                <h4 class="bold">Ajay Subramanium</h4>
                                                <h5>Clinical Doctor</h5>
                                                <div class="doc-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span>4.8</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="doctor-card has-shadow mb-0">
                                        <div class="doc-info-wrap">
                                            <div class="doctor-img">
                                                <img src="../data/hos-dash/doc5.jpg" alt="">
                                            </div>
                                            <div class="doc-info">
                                                <h4 class="bold">Dr. P Rajeshri</h4>
                                                <h5>Obstetrician</h5>
                                                <div class="doc-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                    <span>4.5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group no-mb">
                                        <button type="button" class="btn btn-primary btn-lg mt-20 gradient-blue" style="width:100%"> View all doctors</button>
                                    </div>

                                </div>
                               
                            </div>
                        </div>
                    </section>
                </div>

                <div class="clearfix"></div>
              

                
                <div class=" bg-w">
                    <!-- <div class="col-lg-12 col-lg-offset-1 col-xs-12"> -->
                        <div class="col-lg-12  col-xs-12">
                            <br><br>
                        
                        <div class="container" style="width: 100%;">



<div class="nav nav-tabs tab">
<!-- <center> -->
<button class="tablinks" onclick="openTab(event, 'Appointment')">Schedule Appointment</button>
<button class="tablinks" onclick="openTab(event, 'Test')">Schedule Test</button>
<!-- <button class="tablinks" onclick="openTab(event, 'Tokyo')">Tokyo</button> -->
<!-- </center> -->
</div>

<div id="Appointment" class="tabcontent">
<!-- buffer -->

<table class="table table-hover">
<thead>
<tr>
  <th scope="col">P.ID</th>
  <th scope="col">Patient Name</th>
  <th scope="col">Phn no.</th>
  <th scope="col">Date of Appointment</th>
  <th scope="col">Time of Appointment</th>
  <th scope="col">Doctor's Name</th>
  <th scope="col">Token No.</th>
  <th scope="col">Status</th>

</tr>
</thead>
<tbody>
<tr>
  <th scope="row">1</th>
  <td>Sanjay Sharma</td>
  <td>+91 9943567999</td>
  <td>09/08/2020</td>
  <td>05:30 PM</td>
  <td>Dr. Garg</td>
  <td>01</td>
  <td><button type="button" class="btn btn-outline-primary">Accept</button></td>
</tr>
<tr>
  <th scope="row">2</th>
  <td>Nishtha Gupta</td>
  <td>+91 9943967880</td>
  <td>09/08/2020</td>
  <td>06:30 PM</td>
  <td>Dr. Gupta</td>
  <td>02</td>
  <td><button type="button" class="btn btn-outline-primary">Accept</button></td>
</tr>
<tr>
  <th scope="row">3</th>
  <td>Rohit Singh</td>
  <td>+91 9943787791</td>
  <td>09/08/2020</td>
  <td>07:30 PM</td>
  <td>Dr. Garg</td>
  <td>03</td>
  <td><button type="button" class="btn btn-outline-primary">Accept</button></td>
</tr>
<tr>
  <th scope="row">4</th>
  <td>Nikita Agarwal</td>
  <td>+91 9943567832</td>
  <td>10/08/2020</td>
  <td>05:30 PM</td>
  <td>Dr. Ajay</td>
  <td>04</td>
  <td><button type="button" class="btn btn-outline-primary">Accept</button></td>
</tr>
</tbody>
</table>


<!-- buffer -->
</div>

<div id="Test" class="tabcontent">
<!-- buffer -->

<table class="table table-hover">
<thead>
<tr>
  <th scope="col">P.ID</th>
  <th scope="col">Patient Name</th>
  <th scope="col">Phn no.</th>
  <th scope="col">Date of Appointment</th>
  <th scope="col">Time of Appointment</th>
  <th scope="col">Department</th>
  <th scope="col">Token No.</th>
  <th scope="col">Status</th>

</tr>
</thead>
<tbody>
<tr>
  <th scope="row">1</th>
    <td>Rohit Singh</td>
  <td>+91 9943787791</td>
 
  <td>10/08/2020</td>
  <td>09:00 AM</td>
  <td>Pathalogy</td>
  <td>01</td>
  <td><button type="button" class="btn btn-outline-primary">Accept</button></td>
</tr>
<tr>
  <th scope="row">2</th>
  <td>Nishtha Gupta</td>
  <td>+91 9943967880</td>
  <td>10/08/2020</td>
  <td>09:30 AM</td>
  <td>Immunology</td>
  <td>02</td>
  <td><button type="button" class="btn btn-outline-primary">Accept</button></td>
</tr>
<tr>
  <th scope="row">3</th>
   <td>Sanjay Sharma</td>
  <td>+91 9943567999</td>
  <td>10/08/2020</td>
  <td>10:30 AM</td>
  <td>Hematalogy</td>
  <td>03</td>
  <td><button type="button" class="btn btn-outline-primary">Accept</button></td>
</tr>
 <tr>
  <th scope="row">4</th>
  <td>Niti Ahuja</td>
  <td>+91 9911117832</td>
  <td>11/08/2020</td>
  <td>10:00 AM</td>
  <td>Urinalysis</td>
  <td>04</td>
  <td><button type="button" class="btn btn-outline-primary">Accept</button></td>
</tr>
<tr>
  <th scope="row">5</th>
  <td>Nikita Aggarwal</td>
  <td>+91 9943567832</td>
  <td>11/08/2020</td>
  <td>10:30 AM</td>
  <td>Hematalogy</td>
  <td>05</td>
  <td><button type="button" class="btn btn-outline-primary">Accept</button></td>
</tr>
 <tr>
  <th scope="row">6</th>
  <td>Amit Verma</td>
  <td>+91 8873967880</td>
  <td>12/08/2020</td>
  <td>11:30 AM</td>
  <td>Immunology</td>
  <td>06</td>
  <td><button type="button" class="btn btn-outline-primary">Accept</button></td>
</tr>
</tbody>
</table>


<!-- buffer -->
</div>

<!-- <div id="Tokyo" class="tabcontent">
<h3>Tokyo</h3>
<p>Tokyo is the capital of Japan.</p>
</div> -->

</div>
<br><br>
                       <!--  <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Basic Info</h2>
                                <div class="actions panel_actions pull-right">
                                    <a class="box_toggle fa fa-chevron-down"></a>
                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-book-appointment.html#section-settings"></a>
                                    <a class="box_close fa fa-times"></a>
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <form action="#" method="post">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="form-label" for="field-1">Name</label>
                                                <span class="desc"></span>
                                                <div class="controls">
                                                    <input type="text" class="form-control" id="field-1">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-5">Date of Birth</label>
                                                <span class="desc">e.g. "04/03/2015"</span>
                                                <div class="controls">
                                                    <input type="text" class="form-control datepicker" data-format="mm/dd/yyyy" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-5">Gender</label>
                                                <span class="desc"></span>
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-5">Service</label>
                                                <span class="desc"></span>
                                                <select class="form-control ">
                                                    <option value=""></option>
                                                    <option value="Dental Care">Dental Care</option>
                                                    <option value="Aging Solutions">Aging Solutions</option>
                                                    <option value="Eye Care">Eye Care</option>
                                                    <option value="Physiotherapy">Physiotherapy</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label" for="field-7">Date Time (AM/PM)</label>
                                                <span class="desc">e.g. "31/12/2015 12:12 PM"</span>
                                                <div class="controls">
                                                    <input type="text" class="form-control" id="field-7" data-mask="datetime12">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label" for="field-1">Email</label>
                                                <span class="desc"></span>
                                                <div class="controls">
                                                    <input type="text" class="form-control" id="field-3">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-2">Phone</label>
                                                <span class="desc">e.g. "(534) 253-5353"</span>
                                                <div class="controls">
                                                    <input type="text" class="form-control" id="field-2" data-mask="phone" placeholder="(999) 999-9999">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-6">Brief</label>
                                                <span class="desc">e.g. "Enter any size of text description here"</span>
                                                <div class="controls">
                                                    <textarea class="form-control autogrow" cols="5" id="field-6" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 54px;"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                            <div class="text-left">
                                                <button type="button" class="btn btn-primary">Save</button>
                                                <button type="button" class="btn">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </section> -->
                    </div>

                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-md-6 col-lg-4">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Recent Visits</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="index-hos-dashboard.html#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">    
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="project-activity list-unstyled mb-0">
                                        <li class="activity-list warning">
                                            <div class="detail-info">
                                                <div class="doc-img-con pull-left mr-10">
                                                    <img src="../data/hos-dash/doc4.jpg" width="80" alt="">
                                                </div>
                                                <div class="visit-doc">
                                                    <p class="message">
                                                        <span class="text-info bold">Dr : </span> Ajay Subramanium
                                                    </p>
                                                    <small class="text-muted">
                                                        Blood Check
                                                    </small>
                                                </div>
                                                <div class="visit-date pull-right">
                                                    <p class="mb-0">25 Nov</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="clearfix"></li>
                                        <li class="activity-list info">
                                            <div class="detail-info">
                                                <div class="doc-img-con pull-left mr-10">
                                                    <img src="../data/hos-dash/doc5.jpg" width="80" alt="">
                                                </div>
                                                <div class="visit-doc">
                                                    <p class="message ">
                                                        <span class="text-info bold">Dr : </span> P Rajeshri
                                                    </p>
                                                    <small class="text-muted">
                                                        Thryoid Test
                                                    </small>
                                                </div>
                                                <div class="visit-date pull-right">
                                                    <p class="mb-0">25 Nov</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="activity-list success">
                                            <div class="detail-info">
                                                <div class="doc-img-con pull-left mr-10">
                                                    <img src="../data/hos-dash/doc3.jpg" width="80" alt="">
                                                </div>
                                                <div class="visit-doc">
                                                    <p class="message ">
                                                        <span class="text-info bold">Dr : </span> Sarah Mutten
                                                    </p>
                                                    <small class="text-muted">
                                                        Full Blood image
                                                    </small>
                                                </div>
                                                <div class="visit-date pull-right">
                                                    <p class="mb-0">25 Nov</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="activity-list danger">
                                            <div class="detail-info pb0">
                                                <div class="doc-img-con pull-left mr-10">
                                                    <img src="../data/hos-dash/doc1.jpg" width="80" alt="">
                                                </div>
                                                <div class="visit-doc">
                                                    <p class="message ">
                                                        <span class="text-info bold">Dr : </span> Anshul Reddy
                                                    </p>
                                                    <small class="text-muted">
                                                        Full Body Test
                                                    </small>
                                                </div>
                                                <div class="visit-date pull-right">
                                                    <p class="mb-0">25 Nov</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>      
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-4">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Operation Success Rate</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="index-hos-dashboard.html#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">    
                            <div class="row">
                                <div class="col-xs-12">
                                      <div class="chart-container">
                                          <div class="" style="height:200px" id="user_type"></div>
                                      </div>
                                </div>      
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>



            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">Pharmacy Orders</h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="index-hos-dashboard.html#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">    
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="" style="height:200px" id="browser_type"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-8">
                    <section class="box">
                        <header class="panel_header">
                            <h2 class="title pull-left">Recent Payments Queue</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="index-hos-dashboard.html#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="table-responsive" data-pattern="priority-columns">
                                        <table id="tech-companies-1" class="table vm table-small-font no-mb table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Patient</th>
                                                    <th>Ward No.</th>
                                                    <th>Dr Name</th>
                                                    <th>Status</th>
                                                    <th>Bills</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="round">S</div>
                                                        <div class="designer-info">
                                                            <h6>Sunil Joshi</h6>
                                                            <small class="text-muted">Male, 34 Years</small>
                                                        </div>
                                                    </td>
                                                    <td>202</td>
                                                    <td>Elite Admin</td>
                                                    <td><span class="badge round-primary">checkin</span></td>
                                                    <td>$320,800</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="round round-success">V</div>
                                                        <div class="designer-info">
                                                            <h6>Messsy Adam</h6>
                                                            <small class="text-muted">Male, 27 Years</small>
                                                        </div>
                                                    </td>
                                                    <td>204</td>
                                                    <td>Bright Themes</td>
                                                    <td><span class="badge badge-primary">Vitals</span></td>
                                                    <td>$170,750</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="round round-warning">J</div>
                                                        <div class="designer-info">
                                                            <h6>John Richards</h6>
                                                            <small class="text-muted">Female, 34 Years</small>
                                                        </div>
                                                    </td>
                                                    <td>459</td>
                                                    <td>Junior Smith</td>
                                                    <td><span class="badge round-danger">checkin</span></td>
                                                    <td>$86,000</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="round round-primary">P</div>
                                                        <div class="designer-info">
                                                            <h6>Peter Meggik</h6>
                                                            <small class="text-muted">Male, 19 Years</small>
                                                        </div>
                                                    </td>
                                                    <td>206</td>
                                                    <td>Flaion fanzzy</td>
                                                    <td><span class="badge round-warning">checkin</span></td>
                                                    <td>$433,060</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="round round-danger">T</div>
                                                        <div class="designer-info">
                                                            <h6>Henry Tom</h6>
                                                            <small class="text-muted">Female, 44 Years</small>
                                                        </div>
                                                    </td>
                                                    <td> 406</td>
                                                    <td> Light Ads</td>
                                                    <td><span class="badge badge-primary">Vitals</span></td>
                                                    <td>$162,700</td>
                                                </tr>
                                                

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <section class="box gradient-blue" style="padding:20px">
                                <div class="doctor-card mb-0">
                                    <div class="doc-info-wrap transparent mb-30" style="padding:0px">
                                        <div class="review-icon">
                                            <img src="../data/hos-dash/smile.png" alt="">
                                        </div>
                                        <div class="doc-info">
                                            <h4 class="w-text bold">Positive Reviews</h4>
                                            <h5 class="bold g-text">635 Reviews</h5>
                                            <div class="doc-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <span class="w-text">4.8</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress mb-0">
                                        <div class="progress-bar progress-bar-success text-left" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 76%">constructive reviews</div>
                                    </div>
                                </div>

                            </section>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <section class="box gradient-pink" style="padding:20px">
                                <div class="doctor-card mb-0">
                                    <div class="doc-info-wrap transparent mb-30" style="padding:0px">
                                        <div class="review-icon">
                                            <img src="../data/hos-dash/sad.png" alt="">
                                        </div>
                                        <div class="doc-info">
                                            <h4 class="w-text bold">Negative Reviews</h4>
                                            <h5 class="bold g-text">35 Reviews</h5>
                                            <div class="doc-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star g-text"></i>
                                                <i class="fa fa-star g-text"></i>
                                                <i class="fa fa-star g-text"></i>
                                                <span class="w-text ">2.8</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress mb-0">
                                        <div class="progress-bar progress-bar-success text-left" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 24%">Unhappy</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    
                        
                </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
                    <section class="box">
                        <div class="hos-promo">
                            <div class="promo-info">
                                <h3 class="w-text bold">Get full free <br> medical Check up!</h3>
                                <h4 class="g-text bold">29 Nov .... 20:00 PM</h4>
                            </div>
                        </div>
                    </section>
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Patients Notes</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="index-hos-dashboard.html#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">    
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="project-activity list-unstyled mb-0">
                                        <li class="activity-list warning">
                                            <div class="detail-info">
                                                <div class="visit-doc">
                                                    <small class="text-muted">
                                                        I feel better Now :)
                                                    </small>
                                                    <p class="message">
                                                        Meditation
                                                    </p>
                                                    
                                                </div>
                                                <div class="visit-date visit-stat pull-right">
                                                    <p class="mb-0">OPENED</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="clearfix"></li>
                                        <li class="activity-list info">
                                            <div class="detail-info">
                                                <div class="visit-doc">
                                                    <small class="text-muted">
                                                        Treatment was good!
                                                    </small>
                                                    <p class="message">
                                                        Thyroid Test
                                                    </p>
                                                </div>
                                                <div class="visit-date visit-stat pull-right">
                                                    <p class="mb-0 uppercase">closed</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="activity-list success">
                                            <div class="detail-info">
                                                <div class="visit-doc">
                                                    <small class="text-muted">
                                                        My hair is gone!
                                                    </small>
                                                    <p class="message">
                                                        Unhappy
                                                    </p>
                                                </div>
                                                <div class="visit-date visit-stat pull-right">
                                                    <p class="mb-0 uppercase">OPENED</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="activity-list warning">
                                            <div class="detail-info">
                                                <div class="visit-doc">
                                                    <small class="text-muted">
                                                        My hair is gone!
                                                    </small>
                                                    <p class="message">
                                                        Unhappy
                                                    </p>
                                                </div>
                                                <div class="visit-date visit-stat pull-right">
                                                    <p class="mb-0 uppercase">closed</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="activity-list danger">
                                            <div class="detail-info pb0">
                                                <div class="visit-doc">
                                                    <small class="text-muted">
                                                        Great Mediacal Care 
                                                    </small>
                                                    <p class="message">
                                                        Join Pain
                                                    </p>
                                                </div>
                                                <div class="visit-date visit-stat pull-right">
                                                    <p class="mb-0 uppercase">OPENED</p>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>      
                            </div> <!-- End .row -->
                        </div>
                    </section>

                </div>

            
                <div class="clearfix"></div>

                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->
        <div class="page-chatapi hideit">

            <div class="search-bar">
                <input type="text" placeholder="Search" class="form-control">
            </div>

            <div class="chat-wrapper">

                <h4 class="group-head">Favourites</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_1' data-user-id='1'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Joge Lucky</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_2' data-user-id='2'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Folisise Chosiel</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_3' data-user-id='3'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Aron Gonzalez</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>

                <h4 class="group-head">More Contacts</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_4' data-user-id='4'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Chris Fox</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_5' data-user-id='5'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Mogen Polish</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_6' data-user-id='6'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Smith Carter</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_7' data-user-id='7'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Amilia Gozenal</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_8' data-user-id='8'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Tahir Jemyship</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_9' data-user-id='9'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Johanson Wright</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_10' data-user-id='10'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Loni Tindall</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_11' data-user-id='11'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Natcho Herlaey</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_12' data-user-id='12'>
                        <div class="user-img">
                            <a href="index-hos-dashboard.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="index-hos-dashboard.html#">Shakira Swedan</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="chatapi-windows ">

        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.easing.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/pace/pace.min.js"></script>
    <script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets/plugins/viewport/viewportchecker.js"></script>
    <script>
        window.jQuery || document.write('<script src="../assets/js/jquery.min.js"><\/script>');
    </script>
    <!-- CORE JS FRAMEWORK - END -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <script src="../assets/plugins/echarts/echarts-custom-for-dashboard.js"></script>

    <script src="../assets/plugins/flot-chart/jquery.flot.js"></script>
    <script src="../assets/plugins/flot-chart/jquery.flot.time.js"></script>
    <script src="../assets/js/chart-flot.js"></script>

    <script src="../assets/js/dashboard-hos.js"></script>

    
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
    <script>
        function openTab(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
        </script>

    <!-- CORE TEMPLATE JS - START -->
    <script src="../assets/js/scripts.js"></script>
    <!-- END CORE TEMPLATE JS - END -->

</body>

</html>