<!DOCTYPE html>
<html lang="en">

<head>
    <!--
        * @Package:  Multipurpose Dashboard
        * @Version: 1.0.0
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Multipurpose Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-57-precomposed.png">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/images/apple-touch-icon-114-precomposed.png">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/images/apple-touch-icon-72-precomposed.png">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/images/apple-touch-icon-144-precomposed.png">

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="../assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/webfont/cryptocoins.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE CSS TEMPLATE - START -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->

    <!-- SALONI CSS TEMPLATE - START -->
    <link href="../assets/css/patient.css" rel="stylesheet" type="text/css" />
    <!-- SALONI CSS TEMPLATE - END -->

    <!-- CHATBOT CSS -->
    <link
            rel="apple-touch-icon"
            type="image/png"
            href="https://static.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png"
        />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico"
        />
        <link
            rel="mask-icon"
            type=""
            href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg"
            color="#111"
        />    
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <link rel="stylesheet" href="../assets/css/chatbot.css"/>
      
       

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

    <% include ../navbar %>
        <!-- START CONTENT -->
        <section id="main-content" class=" ">
            <div class="wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">Patient Profile</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-lg-4">
                    <section class="box ">
                        <div class="content-body p">
                            <div class="row">
                                <div class="doctors-list patient relative">
                                    <div class="patient--image--background doctors-head relative text-center">
                                        <div class="patient-img img-circle">
                                            <img src="../data/profile/profile.jpg" class="rad-50 center-block" alt="">
                                            <div class="stutas"></div>
                                        </div>
                                        <h3 class="header w-text relative bold">Name : Aakshi Acharya</h3>
                                        <p class="desc g-text relative">Chennai, Tamil Nadu</p>
                                    </div>
                                    <div class="row">
                                        <div class="patients-info relative" >
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">Female</h5>
                                                            <h6>Patient  Gender</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">Age: 68</h5>
                                                            <h6>Years Old</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold">160 cm</h5>
                                                            <h6>Patient  Height</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="patient-card has-shadow2">
                                                    <div class="doc-info-wrap">
                                                        <div class="patient-info">
                                                            <h5 class="bold"> 67 Kg</h5>
                                                            <h6>Patient Weight</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end row -->

                                    <a data-toggle="modal" href="ui-modals.html#cmpltadminModal-15">
                                      <div class="col-xs-12 mb-30">
                                          <div class="reminder-wrapper has-shadow2">
                                             <div class="reminder-icon">
                                                 <img src="../data/hos-dash/clock.png" width="60" alt="">
                                             </div>
                                             <div class="reminder-content">
                                                 <h4 class="w-text bold">Reminder Alarm</h4>
                                                 <h5 class="g-text">ask about medicine</h5>
                                             </div>
                                          </div>
                                      </div>
                                    </a>

                                    <div class="patient--alarms col-sm-4 col-xs-12">
                                          <div class="patient-info">
                                              <h5 class="bold">12:00 PM</h5>
                                              <h6>Diabetes</h6>
                                          </div>
                                    </div>
                                    <div class="patient--alarms col-sm-4 col-xs-12">
                                          <div class="patient-info">
                                              <h5 class="bold">03:00 PM</h5>
                                              <h6>Asthma</h6>
                                          </div>
                                    </div>
                                    <div class="patient--alarms col-sm-4 col-xs-12">
                                          <div class="patient-info">
                                              <h5 class="bold">06:00 PM</h5>
                                              <h6>Diabetes</h6>
                                          </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-7">
                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Blood Levels</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-patient-dash.html#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class=""><canvas id="bar-chartjs" height="450" width="600"></canvas></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="col-xs-12 col-md-5">

                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Notifications</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-patient-dash.html#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="project-activity list-unstyled mb-0">
                                                <%list.forEach( app=> { %>
                                                <li class="activity-list succes">
                                                    <div class="detail-info">
                                                        <div class="visit-doc">
                                                            <small class="text-muted">
                                                                You have a visit at <%=app.hospital_name%> ( <%=app.service%> )
                                                            </small>
                                                            <p class="message">
                                                                <%=moment.utc(app.appointment_time).utcOffset("+05:30").format("LLLL")%>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </li>
                                              <%})%>

                                            </ul>
                                        </div>
                                    </div> <!-- End .row -->
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <section class="box gradient-blue" style="padding:20px">
                                <div class="patient-personal mb-0">
                                    <h4 class="w-text">Blood type :</h4>
                                    <p class="mb-0 g-text">AB+</p>
                                </div>
                                <div class="patient-personal mb-0">
                                    <h4 class="w-text">Allergies :</h4>
                                    <p class="mb-0 g-text">Cow milk, peanuts</p>
                                </div>
                                <div class="patient-personal mb-0">
                                    <h4 class="w-text">Diseases :</h4>
                                    <p class="mb-0 g-text">Diabetes, asthma</p>
                                </div>
                                <div class="patient-personal mb-0">
                                    <h4 class="w-text">Pressure :</h4>
                                    <p class="mb-0 g-text">130/80 mmHG</p>
                                </div>
                                <div class="patient-personal mb-0">
                                    <h4 class="w-text">Temperture :</h4>
                                    <p class="mb-0 g-text">36.8 Degree</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <section class="box gradient-pink" style="padding:20px">
                                <div class="patient-personal v2 mb-0">
                                    <h4 class="w-text"> <span class="text-info bold">-- </span> Regular checkups</h4>
                                    <p class="mb-0 g-text"></p>
                                </div>
                                <div class="patient-personal v2 mb-0">
                                    <h4 class="w-text">Dr. Sridevi</h4>
                                    <p class="mb-0 g-text">dermatologist</p>
                                </div>
                                <div class="patient-personal v2 mb-0">
                                    <h4 class="w-text">Dr. Vijayaraghavan </h4>
                                    <p class="mb-0 g-text">Clinical doctor</p>
                                </div>
                                <div class="patient-personal v2 mb-0">
                                    <h4 class="w-text">Dr. M Hema</h4>
                                    <p class="mb-0 g-text">Dentist</p>
                                </div>
                                <div class="patient-personal v2 mb-0">
                                    <h4 class="w-text">Dr. Vasugi</h4>
                                    <p class="mb-0 g-text">Surgeon</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>

                <div class="col-md-7 col-sm-12 col-xs-12">

                    <div class="row mt-15">
                        <div class="col-md-6 col-xs-12 ">
                            <div class="r1_graph1 db_box db_box_large has-shadow2">
                                <div class="pat-info-wrapper">
                                    <div class="pat-info text-left">
                                        <h5 class=''>Blood pressure</h5>
                                        <h6>In the normal</h6>
                                    </div>
                                    <div class="pat-val relative">
                                        <h4 class="value p-text">120/89 <span>mmHG</span></h4>
                                    </div>
                                </div>
                                <span class="sparklinedash2">Loading...</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="r1_graph1 db_box db_box_large has-shadow2">
                                <div class="pat-info-wrapper">
                                    <div class="pat-info text-left">
                                        <h5 class=''>Heart Rate</h5>
                                        <h6 class="red-text">Above the normal</h6>
                                    </div>
                                    <div class="pat-val relative">
                                        <h4 class="value red-text">107 <span>Per min</span></h4>
                                    </div>
                                </div>
                                <span class="sparklinedash">Loading...</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="r1_graph1 db_box db_box_large has-shadow2">
                                <div class="pat-info-wrapper">
                                    <div class="pat-info text-left">
                                        <h5 class=''>Glucose Rate</h5>
                                        <h6>In the normal</h6>
                                    </div>
                                    <div class="pat-val relative">
                                        <h4 class="value green-text"><i class="complete fa fa-arrow-up"></i>97<span>mg/dl</span></h4>
                                    </div>
                                </div>
                                <span class="sparkline8">Loading...</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="r1_graph1 db_box db_box_large has-shadow2">
                                <div class="pat-info-wrapper">
                                    <div class="pat-info text-left">
                                        <h5 class=''>Clolesterol</h5>
                                        <h6>In the normal</h6>
                                    </div>
                                    <div class="pat-val relative">
                                        <h4 class="value blue-text"><i class="cancelled fa fa-arrow-down"></i>124<span>mg/dl</span></h4>
                                    </div>
                                </div>
                                <span class="sparkline9">Loading...</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-md-5">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Patient Information</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-patient-dash.html#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>

                        <div class="patient--information--container">
                            <!-- <canvas id="radar-chartjs" width="300" height="300"></canvas> -->

                          <div class="accordion patient--cards--container" id="accordionExample">

                            <div class="card patient--card">
                              <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Group
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>Senior citizen</p>
                                  <p>Insurace covered</p>
                                  <p></p>
                                </div>
                              </div>
                            </div>

                            <div class="card patient--card">
                              <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Procedures
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>Auscultation</p>
                                  <p>Palpation</p>
                                  <p>Percussion</p>
                                  <p>Hip replacement</p>
                                </div>
                              </div>
                            </div>

                            <div class="card patient--card">
                              <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Medicines
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>Vicodin</p>
                                  <p>Simvastatin</p>
                                  <p>Lisinopril</p>
                                  <p>Levothyroxine</p>
                                  <p>Azithromycin</p>
                                </div>
                              </div>
                            </div>

                            <div class="card patient--card">
                              <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Family History
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>Cancer</p>
                                  <p>Cardiovascular Disease</p>
                                  <p>Arthritis</p>
                                  <p>Dementia</p>
                                </div>
                              </div>
                            </div>

                            <div class="card patient--card">
                              <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Social History
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>Exercise 5 days a week</p>
                                  <p>Ocassionally drinks alcohol</p>
                                </div>
                              </div>
                            </div>

                            <div class="card patient--card">
                              <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Notes
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                  <p>Excessively allergic to cow's milk.</p>
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>
                    </section>
                </div>


                <div class="clearfix"></div>

                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->
        <div class="page-chatapi hideit">

            <div class="search-bar">
                <input type="text" placeholder="Search" class="form-control">
            </div>

            <div class="chat-wrapper">

                <h4 class="group-head">Favourites</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_1' data-user-id='1'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Joge Lucky</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_2' data-user-id='2'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Folisise Chosiel</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_3' data-user-id='3'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Aron Gonzalez</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>

                <h4 class="group-head">More Contacts</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_4' data-user-id='4'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Chris Fox</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_5' data-user-id='5'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Mogen Polish</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_6' data-user-id='6'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Smith Carter</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_7' data-user-id='7'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Amilia Gozenal</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_8' data-user-id='8'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Tahir Jemyship</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_9' data-user-id='9'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Johanson Wright</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_10' data-user-id='10'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Loni Tindall</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_11' data-user-id='11'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Natcho Herlaey</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_12' data-user-id='12'>
                        <div class="user-img">
                            <a href="hos-patient-dash.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-patient-dash.html#">Shakira Swedan</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div class="chatapi-windows ">

        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- modal start -->
    <div class="modal fade col-xs-12" id="cmpltadminModal-15" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog animated bounceInUp">
            <div class="modal-content">


                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Set An Alarm</h4>
                </div>
                <form method="POST" action="/schedule/create/">
                <div class="modal-body">

                  <input class="alarm--input alarm--date" type="datetime-local" name="datetime" value="" required>
                  <!-- <input class="alarm--input alarm--time" type="time" name="" value="" required> -->
                  <div class="form-group">
                    <label class="form-label">Medicine</label>
                    <div class="controls">
                        <input type="text" class="form-control" name="medicine" placeholder="Medicine">
                    </div>
                  </div>
                  <select class="alarm--input alarm--select" name="">
                    <option value="[object Object]">Everyday</option>
                    <option value="[object Object]">Only Once</option>
                  </select>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <button class="btn btn-success" type="submit">Save changes</button>
                </div>
            </form>

            </div>
        </div>
    </div>
    <!-- modal end -->

    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.easing.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/pace/pace.min.js"></script>
    <script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets/plugins/viewport/viewportchecker.js"></script>
    <script>
        window.jQuery || document.write('<script src="../assets/js/jquery.min.js"><\/script>');
    </script>
    <!-- CORE JS FRAMEWORK - END -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <script src="../assets/plugins/sparkline-chart/jquery.sparkline.min.js"></script>
    <script src="../assets/plugins/chartjs-chart/Chart.min.js"></script>
    <script src="../assets/js/chart-chartjs.js"></script>

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE TEMPLATE JS - START -->
    <script src="../assets/js/scripts.js"></script>
    <!-- END CORE TEMPLATE JS - END -->
</body>

</html>
