<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 
        * @Package:  Multipurpose Dashboard
        * @Version: 1.0.0
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Multipurpose Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-57-precomposed.png">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/images/apple-touch-icon-114-precomposed.png">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/images/apple-touch-icon-72-precomposed.png">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/images/apple-touch-icon-144-precomposed.png">

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="../assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/webfont/cryptocoins.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE CSS TEMPLATE - START -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

<% include ../navbar %>
        <!--  SIDEBAR - END -->

        <!-- START CONTENT -->
        <section id="main-content" class="">
            <div class="wrapper main-wrapper row" style="">

                <div class="col-xs-12">
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">Edit Patient</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                        <div class="pull-right hidden-xs">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="https://medical-dash.netlify.app/html/index.html"><i class="fa fa-home"></i>Home</a>
                                </li>
                                <li>
                                    <a href="https://medical-dash.netlify.app/html/hos-patients.html">Patients</a>
                                </li>
                                <li class="active">
                                    <strong>Edit Patient</strong>
                                </li>
                            </ol>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-xs-12 ">
                    <div class="add-header-wrapper gradient-blue curved-section text-center">
                        <h2 class="uppercase bold w-text">Edit Patient</h2>
                        <div class="before-text">Edit patient</div>
                        <p class="g-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni consequatur excepturi ab veritatis id facere facilis tempora sit amet, consectetur adipisicing elit. Iusto magni.</p>
                    </div>

                    <div class=" bg-w">
                        <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Basic Info</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-edit-patient.html#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">
                                    <div class="row">
                                        <form action="#" method="post">
                                            <div class="col-xs-12">

                                                <div class="form-group">
                                                    <label class="form-label">Name</label>
                                                    <span class="desc"></span>
                                                    <div class="controls">
                                                        <input type="text" value="Wright Smith" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label">Date of Birth</label>
                                                    <span class="desc">e.g. "04/03/2018"</span>
                                                    <div class="controls">
                                                        <input type="text" value="14/03/1992" class="form-control datepicker" data-format="mm/dd/yyyy">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label">Gender</label>
                                                    <span class="desc"></span>
                                                    <select class="form-control">
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Profile Image</label>
                                                    <span class="desc"></span>
                                                        <img class="img-responsive" src="../data/profile/avatar-5.png" alt="" style="max-width:120px;">
                                                        <div class="controls">
                                                        <input type="file" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label">Brief</label>
                                                    <span class="desc">e.g. "Enter any size of text description here"</span>
                                                    <div class="controls">
                                                        <textarea class="form-control autogrow" cols="5" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 54px;">Mr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo pariatur quos molestias magni.</textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                <div class="text-left">
                                                    <button type="button" class="btn btn-primary gradient-blue">Save</button>
                                                    <button type="button" class="btn">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </section>
                        </div>
                        <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Patient Account Info</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-edit-patient.html#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">
                                    <div class="row">
                                        <form action="#" method="post">
                                            <div class="col-xs-12">

                                                <div class="form-group">
                                                    <label class="form-label">Email</label>
                                                    <span class="desc"></span>
                                                    <div class="controls">
                                                        <input type="text" value="email@example.com" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label">Phone</label>
                                                    <span class="desc">e.g. "(7839) 347-3643"</span>
                                                    <div class="controls">
                                                        <input type="text" value="(0200) 859-8109" class="form-control" data-mask="phone" placeholder="(999) 999-9999">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Password</label>
                                                    <span class="desc"></span>
                                                    <div class="controls">
                                                        <input type="password" value="123478ujghhg" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Confirm Password</label>
                                                    <span class="desc"></span>
                                                    <div class="controls">
                                                        <input type="password" value="123478ujghhg" class="form-control" id="field-21">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                <div class="text-left">
                                                    <button type="button" class="btn btn-primary gradient-blue">Save</button>
                                                    <button type="button" class="btn">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </section>
                        </div>

                        <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Patient Social Media Info</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-edit-patient.html#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">
                                    <div class="row">
                                        <form action="#" method="post">
                                            <div class="col-xs-12">

                                                <div class="form-group">
                                                    <label class="form-label">Facebook URL</label>
                                                    <span class="desc"></span>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" value="http://www.facebook.com/link" id="field-31">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label">Twitter URL</label>
                                                    <span class="desc"></span>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" value="http://www.twitter.com/link" id="field-41">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label">Google Plus URL</label>
                                                    <span class="desc"></span>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" value="http://www.googleplus.com/link" id="field-51">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                                                <div class="text-left">
                                                    <button type="button" class="btn btn-primary gradient-blue">Save</button>
                                                    <button type="button" class="btn">Cancel</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </section>
                        </div>



                    </div>
                </div>

                

                
        <!-- MAIN CONTENT AREA ENDS -->
        </div>
    </section>
    <!-- END CONTENT -->
    <div class="page-chatapi hideit">

        <div class="search-bar">
            <input type="text" placeholder="Search" class="form-control">
        </div>

        <div class="chat-wrapper">

            <h4 class="group-head">Favourites</h4>
            <ul class="contact-list">

                <li class="user-row " id='chat_user_1' data-user-id='1'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Joge Lucky</a></h4>
                        <span class="status available" data-status="available"> Available</span>
                    </div>
                    <div class="user-status available">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_2' data-user-id='2'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Folisise Chosiel</a></h4>
                        <span class="status away" data-status="away"> Away</span>
                    </div>
                    <div class="user-status away">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_3' data-user-id='3'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Aron Gonzalez</a></h4>
                        <span class="status busy" data-status="busy"> Busy</span>
                    </div>
                    <div class="user-status busy">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>

            </ul>

            <h4 class="group-head">More Contacts</h4>
            <ul class="contact-list">

                <li class="user-row " id='chat_user_4' data-user-id='4'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Chris Fox</a></h4>
                        <span class="status offline" data-status="offline"> Offline</span>
                    </div>
                    <div class="user-status offline">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_5' data-user-id='5'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Mogen Polish</a></h4>
                        <span class="status offline" data-status="offline"> Offline</span>
                    </div>
                    <div class="user-status offline">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_6' data-user-id='6'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Smith Carter</a></h4>
                        <span class="status available" data-status="available"> Available</span>
                    </div>
                    <div class="user-status available">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_7' data-user-id='7'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Amilia Gozenal</a></h4>
                        <span class="status busy" data-status="busy"> Busy</span>
                    </div>
                    <div class="user-status busy">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_8' data-user-id='8'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Tahir Jemyship</a></h4>
                        <span class="status away" data-status="away"> Away</span>
                    </div>
                    <div class="user-status away">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_9' data-user-id='9'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Johanson Wright</a></h4>
                        <span class="status busy" data-status="busy"> Busy</span>
                    </div>
                    <div class="user-status busy">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_10' data-user-id='10'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Loni Tindall</a></h4>
                        <span class="status away" data-status="away"> Away</span>
                    </div>
                    <div class="user-status away">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_11' data-user-id='11'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Natcho Herlaey</a></h4>
                        <span class="status idle" data-status="idle"> Idle</span>
                    </div>
                    <div class="user-status idle">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_12' data-user-id='12'>
                    <div class="user-img">
                        <a href="hos-edit-patient.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-edit-patient.html#">Shakira Swedan</a></h4>
                        <span class="status idle" data-status="idle"> Idle</span>
                    </div>
                    <div class="user-status idle">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>

            </ul>
        </div>

    </div>

    <div class="chatapi-windows ">

    </div>
    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.easing.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/pace/pace.min.js"></script>
    <script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets/plugins/viewport/viewportchecker.js"></script>
    <script>
        window.jQuery || document.write('<script src="../assets/js/jquery.min.js"><\/script>');
    </script>
    <!-- CORE JS FRAMEWORK - END -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE TEMPLATE JS - START -->
    <script src="../assets/js/scripts.js"></script>
    <!-- END CORE TEMPLATE JS - END -->

</body>

</html>