<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- 
        * @Package:  Multipurpose Dashboard
        * @Version: 1.0.0
    --> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Multipurpose Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-57-precomposed.png">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/images/apple-touch-icon-114-precomposed.png">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/images/apple-touch-icon-72-precomposed.png">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/images/apple-touch-icon-144-precomposed.png">


    <!-- CORE CSS FRAMEWORK - START -->
    <link href="../assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/webfont/cryptocoins.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <link href="../assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" media="screen">
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->


    <!-- CORE CSS TEMPLATE - START -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

    <% include ../navbar %>
        <!--  SIDEBAR - END -->


        <!-- START CONTENT -->
        <div id="main-content" class=" ">
            <section class="wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">Support Center</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                        <div class="pull-right hidden-xs">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="https://medical-dash.netlify.app/html/index-dashboard.html"><i class="fa fa-home"></i>Home</a>
                                </li>
                                <li>
                                    <a href="hos-support.html">Support</a>
                                </li>
                                <li class="active">
                                    <strong>Help Center</strong>
                                </li>
                            </ol>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-12 ">
                    <section class="box nohidden has-border-left-3">
                            <header class="panel_header">
                                <h2 class="title pull-left">Select a topic</h2>
                                <div class="actions panel_actions pull-right">
                                    <a class="box_toggle fa fa-chevron-down"></a>
                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-support.html#section-settings"></a>
                                    <a class="box_close fa fa-times"></a>
                                </div>
                            </header>
                            <div class="content-body" style="padding-bottom:0 !important">    
                                <div class="row">
                                    <div class="col-lg-4 no-pl no-pr">
                                        <div class="tile-progress gradient-blue" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                            <div class="content">
                                                <img src="../data/hos-dash/icons/i1.png" class="center-block mb-20" style="max-width:64px" alt="">
                                                <h4>Laboratory</h4>
                                                <p class="mt-10 text-center no-mb g-text">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 no-pl no-pr">
                                        <div class="tile-progress gradient-blue" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                            <div class="content">
                                                <img src="../data/hos-dash/icons/i2.png" class="center-block mb-20" style="max-width:64px" alt="">
                                                <h4>Heart Surgery</h4>
                                                <p class="mt-10 text-center no-mb g-text">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 no-pl no-pr">
                                        <div class="tile-progress gradient-blue" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                            <div class="content">
                                                <img src="../data/hos-dash/icons/i3.png" class="center-block mb-20" style="max-width:64px" alt="">
                                                <h4>Dentist issues</h4>
                                                <p class="mt-10 text-center no-mb g-text">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 no-pl no-pr">
                                        <div class="tile-progress gradient-blue" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                            <div class="content">
                                                <img src="../data/hos-dash/icons/i4.png" class="center-block mb-20" style="max-width:64px" alt="">
                                                <h4>Blood donation</h4>
                                                <p class="mt-10 text-center no-mb g-text">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 no-pl no-pr">
                                        <div class="tile-progress gradient-blue" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                            <div class="content">
                                                <img src="../data/hos-dash/icons/i5.png" class="center-block mb-20" style="max-width:64px" alt="">
                                                <h4>scientific researches</h4>
                                                <p class="mt-10 text-center no-mb g-text">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 no-pl no-pr">
                                        <div class="tile-progress gradient-blue" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                            <div class="content">
                                                <img src="../data/hos-dash/icons/i6.png" class="center-block mb-20" style="max-width:64px" alt="">
                                                <h4>Healtcare Query</h4>
                                                <p class="mt-10 text-center no-mb g-text">Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Natus sapiente mollitia nesciunt molestiae.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                    </section>
                </div>
               
                <div class="col-lg-12">
                    <section class="box has-border-left-3">
                        <header class="panel_header">
                            <h2 class="title pull-left">FAQ</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-support.html#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="bold no-mt mb-20">Frequently asked questions</h4>
                                    
                                    <!-- Bootstrap FAQ - START -->
                                    <div class="panel-group no-mb faq-panels" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="hos-support.html#collapseTwo">How do I use my healtcare ensurance ?</a>
                                        </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="hos-support.html#collapseThree">How does the doctors ranking system work ?</a>
                                            </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="hos-support.html#collapseFive">What do I need to do to get better faster ?</a>
                                        </h4>
                                            </div>
                                            <div id="collapseFive" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="hos-support.html#collapseSix">How does the Hospital staff work ?</a>
                                        </h4>
                                            </div>
                                            <div id="collapseSix" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="hos-support.html#collapseEight">What are the payment options available?</a>
                                        </h4>
                                            </div>
                                            <div id="collapseEight" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="hos-support.html#collapseNine">What are the effective cold medicine?</a>
                                        </h4>
                                            </div>
                                            <div id="collapseNine" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Praesentium id voluptates, accusamus aliquam, doloribus aperiam ullam tempora nesciunt, architecto vitae molestias. Impedit soluta nulla accusamus! Beatae accusamus eos, inventore aspernatur Lorem ipsum dolor sit amet, conse ctetur adipisicing elit. Blanditiis.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- bs faq end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
                <div class="clearfix"></div>

                <div class="col-lg-6">
                    <section class="box has-border-left-3">
                        <div class="content-body" style="padding-top:30px">
                            <div class="row">
                                <div class="col-xs-12">                                    
                                    <div class="option-identity-wrapper no-mb">
                                        <div class="tab-head" style="width:100%">
                                            <h4 class="bold mb-20 no-mt">Ask in the Forums</h4>
                                            <h4 class="no-mt"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error, molestias labo rum at animi culpa accusamus eius corrupti totam temporibus quasi in aliquam sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error.</small></h4>

                                            <a href="hos-support.html#" class="btn btn-primary mt-10 btn-corner"><i class="fa fa-check"></i> Join Now</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-6">
                    <section class="box has-border-left-3">
                        <div class="content-body" style="padding-top:30px">
                            <div class="row">
                                <div class="col-xs-12">                                    
                                    <div class="option-identity-wrapper no-mb">
                                        <div class="tab-head" style="width:100%">
                                            <h4 class="bold mb-20 no-mt">Visit Our Blog</h4>
                                            <h4 class="no-mt"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error, molestias labo rum at animi culpa accusamus eius corrupti totam temporibus quasi in aliquam sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error.</small></h4>

                                            <a href="hos-support.html#" class="btn btn-primary mt-10 btn-corner"><i class="fa fa-check"></i> Visit Now</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
               

                <!-- MAIN CONTENT AREA ENDS -->
            </section>
        </div>
        <!-- END CONTENT -->
        <div class="page-chatapi hideit">

            <div class="search-bar">
                <input type="text" placeholder="Search" class="form-control">
            </div>

                        <div class="chat-wrapper">

                <h4 class="group-head">Favourites</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_1' data-user-id='1'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Joge Lucky</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_2' data-user-id='2'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Folisise Chosiel</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_3' data-user-id='3'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Aron Gonzalez</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>

                <h4 class="group-head">More Contacts</h4>
                <ul class="contact-list">

                    <li class="user-row " id='chat_user_4' data-user-id='4'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Chris Fox</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_5' data-user-id='5'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Mogen Polish</a></h4>
                            <span class="status offline" data-status="offline"> Offline</span>
                        </div>
                        <div class="user-status offline">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_6' data-user-id='6'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Smith Carter</a></h4>
                            <span class="status available" data-status="available"> Available</span>
                        </div>
                        <div class="user-status available">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_7' data-user-id='7'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Amilia Gozenal</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_8' data-user-id='8'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Tahir Jemyship</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_9' data-user-id='9'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Johanson Wright</a></h4>
                            <span class="status busy" data-status="busy"> Busy</span>
                        </div>
                        <div class="user-status busy">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_10' data-user-id='10'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Loni Tindall</a></h4>
                            <span class="status away" data-status="away"> Away</span>
                        </div>
                        <div class="user-status away">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_11' data-user-id='11'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Natcho Herlaey</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>
                    <li class="user-row " id='chat_user_12' data-user-id='12'>
                        <div class="user-img">
                            <a href="hos-support.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                        </div>
                        <div class="user-info">
                            <h4><a href="hos-support.html#">Shakira Swedan</a></h4>
                            <span class="status idle" data-status="idle"> Idle</span>
                        </div>
                        <div class="user-status idle">
                            <i class="fa fa-circle"></i>
                        </div>
                    </li>

                </ul>
            </div>

        </div>


        <div class="chatapi-windows "> 


        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->


    <!-- CORE JS FRAMEWORK - START -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.easing.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/pace/pace.min.js"></script>
    <script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets/plugins/viewport/viewportchecker.js"></script>
    <script>
        window.jQuery||document.write('<script src="../assets/js/jquery.min.js"><\/script>');
    </script>
    <!-- CORE JS FRAMEWORK - END -->


    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->


    <!-- CORE TEMPLATE JS - START -->
    <script src="../assets/js/scripts.js"></script>
    <!-- END CORE TEMPLATE JS - END -->

</body>

</html>