<form
    action="https://limitless-cliffs-82834.herokuapp.com/Student"
    method="post"
    name="form_name"
>
    <input
        style="display: none; position: absolute;"
        type="text"
        name="f_name"
        value="firstname"
    />
    <input
        style="display: none; position: absolute;"
        type="text"
        name="l_name"
        value="lastname"
    />
    <input
        style="display: none; position: absolute;"
        name="email"
        type="email"
        value="example@gmail.com"
    />
    <input
        style="display: none; position: absolute;"
        type="text"
        name="phone"
        value="8178003966"
    />
    <button type="submit" class="btn btn-primary">Register for ₹1</button>
</form>
