<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 
        * @Package:  Multipurpose Dashboard
        * @Version: 1.0.0
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Multipurpose Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="../assets/images/apple-touch-icon-57-precomposed.png">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/images/apple-touch-icon-114-precomposed.png">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/images/apple-touch-icon-72-precomposed.png">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/images/apple-touch-icon-144-precomposed.png">

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="../assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../assets/fonts/webfont/cryptocoins.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE CSS TEMPLATE - START -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS TEMPLATE - END -->

    <style>
        div.scroll {
  margin: 4px, 4px;
  padding: 4px;
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

    </style>

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

    <% include ../navbar %>
        <!--  SIDEBAR - END -->

        <!-- START CONTENT -->
        <section id="main-content" class="">
            <div class="wrapper main-wrapper row" style="">

                <div class="col-xs-12">
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">Patient Invoice</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                        <div class="pull-right hidden-xs">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="https://medical-dash.netlify.app/html/index.html"><i class="fa fa-home"></i>Home</a>
                                </li>
                                <li>
                                    <a href="https://medical-dash.netlify.app/html/hos-patients.html">Patients</a>
                                </li>
                                <li class="active">
                                    <strong>Patient Invoice</strong>
                                </li>
                            </ol>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-xs-12 ">
                    <div class="add-header-wrapper gradient-blue curved-section text-center">
                        <h2 class="uppercase bold w-text">Patient Invoice</h2>
                        <div class="before-text">Patient Invoice</div>
                        <p class="g-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni consequatur excepturi ab veritatis id facere facilis tempora sit amet, consectetur adipisicing elit. Iusto magni.</p>
                    </div>

                    <div class=" bg-w">
                        <div class="col-lg-12">
                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Patient Invoice</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="hos-patient-invoice.html#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">
                                    <div class="row">
                                        <div class="col-xs-12">

                                            <!-- start -->

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="invoice-head">
                                                        <div class="col-xs-12 col-md-2 invoice-title">
                                                            <h2 class="text-center gradient-blue ">Invoice</h2>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3 invoice-head-info">
                                                            <span class="text-muted">
                                                        795 Folsom Ave, Suite 600<br>
                                                        San Francisco, CA 94107<br>
                                                        P: (123) 456-7890<br>
                                                    </span>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3 invoice-head-info"><span class="text-muted">Order # 12345<br>21st October 2018</span></div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <br>

                                                <div class="col-xs-6 invoice-infoblock pull-left">
                                                    <h4>Billed To:</h4>
                                                    <address>
                                                        <h3>John Smith</h3>
                                                        <span class="text-muted">1234 Main Street<br>Apt. 34/4B<br>
                                                            Springfield<br>ST 54321</span>
                                                    </address>
                                                </div>

                                                <div class="col-xs-6 invoice-infoblock text-right">
                                                    <h4>Payment Method:</h4>
                                                    <address>
                                                        <h3>Credit Card</h3>
                                                        <span class="text-muted">Visa ending **** 4242<br>
                                                            jsmith@email.com</span>
                                                    </address>

                                                    <div class="invoice-due">
                                                        <h3 class="text-muted">Total Due:</h3> &nbsp;
                                                        <h2 class="blue-text">$ 2140.00</h2>
                                                    </div>

                                                </div>

                                                <div class="clearfix"></div>
                                                <br>

                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h3>Order summary</h3>
                                                    <br>
                                                    <div class="table-responsive">
                                                        <table class="table table-hover invoice-table">
                                                            <thead>
                                                                <tr>
                                                                    <td>
                                                                        <h4>Item</h4></td>
                                                                    <td class="text-center">
                                                                        <h4>Price</h4></td>
                                                                    <td class="text-center">
                                                                        <h4>Quantity</h4></td>
                                                                    <td class="text-right">
                                                                        <h4>Totals</h4></td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                                                <tr>
                                                                    <td>Consultation</td>
                                                                    <td class="text-center">$10.99</td>
                                                                    <td class="text-center">1</td>
                                                                    <td class="text-right">$10.99</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Medicine BS-400</td>
                                                                    <td class="text-center">$20.00</td>
                                                                    <td class="text-center">3</td>
                                                                    <td class="text-right">$60.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Lab Report</td>
                                                                    <td class="text-center">$600.00</td>
                                                                    <td class="text-center">1</td>
                                                                    <td class="text-right">$600.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Rx</td>
                                                                    <td class="text-center">$1000.00</td>
                                                                    <td class="text-center">1</td>
                                                                    <td class="text-right">$1000.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line text-center">
                                                                        <h4>Subtotal</h4></td>
                                                                    <td class="thick-line text-right">
                                                                        <h4>$1670.99</h4></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="no-line"></td>
                                                                    <td class="no-line"></td>
                                                                    <td class="no-line text-center">
                                                                        <h4>Shipping</h4></td>
                                                                    <td class="no-line text-right">
                                                                        <h4>$15</h4></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="no-line"></td>
                                                                    <td class="no-line"></td>
                                                                    <td class="no-line text-center">
                                                                        <h4>VAT</h4></td>
                                                                    <td class="no-line text-right">
                                                                        <h4>$150.23</h4></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="no-line"></td>
                                                                    <td class="no-line"></td>
                                                                    <td class="no-line text-center">
                                                                        <h4>Total</h4></td>
                                                                    <td class="no-line text-right">
                                                                        <h3 style="margin:0px;" class="blue-text">$1985.99</h3></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                            <br>

                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <a href="hos-patient-invoice.html#" target="_blank" class="btn btn-default btn-md"><i class="fa fa-print"></i> &nbsp; Print </a>
                                                    <a href="ui-modals.html#cmpltadminModal-5" data-toggle="modal" target="_blank" class="btn btn-accent gradient-blue btn-md"><i class="fa fa-send"></i> &nbsp; Proceed to payment </a>
                                                </div>
                                            </div>

                                            <div class="modal fade col-xs-12" id="cmpltadminModal-5" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog" style="width: 65%">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title">Select the scheme you are eligible for:</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            
                                                            <div class="form-group">
                                                                
                                                                    <label
                                                                        class="iradio-label form-label"
                                                                        for="square-radio-1"
                                                                        ><input
                                                                            tabindex="5"
                                                                            type="radio"
                                                                            id="square-radio-1"
                                                                            class="skin-square-blue"
                                                                            name="type"
                                                                            value="patient"
                                                                        />Ayushman Bharat</label
                                                                    >
                                                                </div>

                                                                <div class="form-group">
                                                                <label
                                                                        class="iradio-label form-label"
                                                                        for="square-radio-1"
                                                                        ><input
                                                                            tabindex="5"
                                                                            type="radio"
                                                                            id="square-radio-1"
                                                                            class="skin-square-blue"
                                                                            name="type"
                                                                            value="patient"
                                                                        />Awaz Health Insurance Scheme</label
                                                                    >
                                                                </div>
                                                                <div class="form-group">
                                                                    <label
                                                                            class="iradio-label form-label"
                                                                            for="square-radio-1"
                                                                            ><input
                                                                                tabindex="5"
                                                                                type="radio"
                                                                                id="square-radio-1"
                                                                                class="skin-square-blue"
                                                                                name="type"
                                                                                value="patient"
                                                                            />Aam Aadmi Bima Yojana</label
                                                                        >
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label
                                                                                class="iradio-label form-label"
                                                                                for="square-radio-1"
                                                                                ><input
                                                                                    tabindex="5"
                                                                                    type="radio"
                                                                                    id="square-radio-1"
                                                                                    class="skin-square-blue"
                                                                                    name="type"
                                                                                    value="patient"
                                                                                />Bhamashah Swasthya Bima Yojana</label
                                                                            >
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label
                                                                                    class="iradio-label form-label"
                                                                                    for="square-radio-1"
                                                                                    ><input
                                                                                        tabindex="5"
                                                                                        type="radio"
                                                                                        id="square-radio-1"
                                                                                        class="skin-square-blue"
                                                                                        name="type"
                                                                                        value="patient"
                                                                                    />Central Government Health Scheme (CGHS)</label
                                                                                >
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label
                                                                                        class="iradio-label form-label"
                                                                                        for="square-radio-1"
                                                                                        ><input
                                                                                            tabindex="5"
                                                                                            type="radio"
                                                                                            id="square-radio-1"
                                                                                            class="skin-square-blue"
                                                                                            name="type"
                                                                                            value="patient"
                                                                                        />Employees’ State Insurance Scheme</label
                                                                                    >
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label
                                                                                            class="iradio-label form-label"
                                                                                            for="square-radio-1"
                                                                                            ><input
                                                                                                tabindex="5"
                                                                                                type="radio"
                                                                                                id="square-radio-1"
                                                                                                class="skin-square-blue"
                                                                                                name="type"
                                                                                                value="patient"
                                                                                            />Karunya Health Scheme</label
                                                                                        >
                                                                                    </div>
                                                                                   

                                                        </div>
                                                        <div class="modal-footer">
        <form
    action="https://limitless-cliffs-82834.herokuapp.com/Student"
    method="post"
    name="form_name"
>
    <input
        style="display: none; position: absolute;"
        type="text"
        name="f_name"
        value="firstname"
    />
    <input
        style="display: none; position: absolute;"
        type="text"
        name="l_name"
        value="lastname"
    />
    <input
        style="display: none; position: absolute;"
        name="email"
        type="email"
        value="example@gmail.com"
    />
    <input
        style="display: none; position: absolute;"
        type="text"
        name="phone"
        value="8178003966"
    />
    <button type="submit" class="btn btn-info">Proceed To Pay</button>
</form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- end -->

                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>




                
        <!-- MAIN CONTENT AREA ENDS -->
        </div>
    </section>
    <!-- END CONTENT -->
    <div class="page-chatapi hideit">

        <div class="search-bar">
            <input type="text" placeholder="Search" class="form-control">
        </div>

        <div class="chat-wrapper">

            <h4 class="group-head">Favourites</h4>
            <ul class="contact-list">

                <li class="user-row " id='chat_user_1' data-user-id='1'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Joge Lucky</a></h4>
                        <span class="status available" data-status="available"> Available</span>
                    </div>
                    <div class="user-status available">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_2' data-user-id='2'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Folisise Chosiel</a></h4>
                        <span class="status away" data-status="away"> Away</span>
                    </div>
                    <div class="user-status away">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_3' data-user-id='3'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Aron Gonzalez</a></h4>
                        <span class="status busy" data-status="busy"> Busy</span>
                    </div>
                    <div class="user-status busy">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>

            </ul>

            <h4 class="group-head">More Contacts</h4>
            <ul class="contact-list">

                <li class="user-row " id='chat_user_4' data-user-id='4'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Chris Fox</a></h4>
                        <span class="status offline" data-status="offline"> Offline</span>
                    </div>
                    <div class="user-status offline">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_5' data-user-id='5'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Mogen Polish</a></h4>
                        <span class="status offline" data-status="offline"> Offline</span>
                    </div>
                    <div class="user-status offline">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_6' data-user-id='6'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Smith Carter</a></h4>
                        <span class="status available" data-status="available"> Available</span>
                    </div>
                    <div class="user-status available">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_7' data-user-id='7'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Amilia Gozenal</a></h4>
                        <span class="status busy" data-status="busy"> Busy</span>
                    </div>
                    <div class="user-status busy">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_8' data-user-id='8'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-3.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Tahir Jemyship</a></h4>
                        <span class="status away" data-status="away"> Away</span>
                    </div>
                    <div class="user-status away">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_9' data-user-id='9'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-4.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Johanson Wright</a></h4>
                        <span class="status busy" data-status="busy"> Busy</span>
                    </div>
                    <div class="user-status busy">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_10' data-user-id='10'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-5.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Loni Tindall</a></h4>
                        <span class="status away" data-status="away"> Away</span>
                    </div>
                    <div class="user-status away">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_11' data-user-id='11'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-1.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Natcho Herlaey</a></h4>
                        <span class="status idle" data-status="idle"> Idle</span>
                    </div>
                    <div class="user-status idle">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>
                <li class="user-row " id='chat_user_12' data-user-id='12'>
                    <div class="user-img">
                        <a href="hos-patient-invoice.html#"><img src="../data/profile/avatar-2.png" alt=""></a>
                    </div>
                    <div class="user-info">
                        <h4><a href="hos-patient-invoice.html#">Shakira Swedan</a></h4>
                        <span class="status idle" data-status="idle"> Idle</span>
                    </div>
                    <div class="user-status idle">
                        <i class="fa fa-circle"></i>
                    </div>
                </li>

            </ul>
        </div>

    </div>

    <div class="chatapi-windows ">

    </div>
    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.easing.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/pace/pace.min.js"></script>
    <script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets/plugins/viewport/viewportchecker.js"></script>
    <script>
        window.jQuery || document.write('<script src="../assets/js/jquery.min.js"><\/script>');
    </script>
    <!-- CORE JS FRAMEWORK - END -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE TEMPLATE JS - START -->
    <script src="../assets/js/scripts.js"></script>
    <!-- END CORE TEMPLATE JS - END -->

</body>

</html>